{% extends 'base.html' %}

{% block title %}
    <title>Arduino Data</title>
{% endblock %}


{% block content %}
<body>

    <table class="table_dark">
        <tr>
            <th>up_date</th>
            {% for col in column %}
                <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for dat in data %}
            <tr>
                {% for da in dat %}
                <td>{{da}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}
