{% extends 'base.html' %}

{% block title %}
    <title>Arduino Data</title>
{% endblock %}


{% block content %}
<body>

    <table>
        <tr>
            <th>up_date</th>
            {% for col in column %}
                <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for dat in data %}
            <tr>
                <td>{{dat.up_date}}</td>
                    {% for col in dat %}
                        <tr>{{dat.{{col}}}}</tr>
                    {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}
