{% extends 'base.html' %}

{% block title %}
    <title>SELECT BD</title>
{% endblock %}

{% block content %}
<body>
    <div class="select">
        <h1>Введите время начала и конца необходимого <br> Вам временного периода</h1>
        <p>Форма Ввода должна иметь вид :yyyy-mm-dd hh:mm:ss <br>
            Например: 2021-03-25 12:08:23 </p>
    </div>

    <div>
        <div>
            <form class="form-horizontal" method="POST" action="">
                {{ form.csrf_token() }}
                <div>
                    {{ form.start_time.label }}
                    {{ form.start_time() }}
                    {% for error in form.start_time.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div>
                    {{ form.end_time.label }}
                    {{ form.end_time() }}
                    {% for error in form.end_time.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div>
                    {{ form.submit()}}
                    {% for error in form.submit.errors %}
                        {{ error }}
                    {% endfor %}
                </div>

                <div>
                    <h2>Выберите необходимые Вам показания:</h2>
                    {% for key in data %}
                        <input type="checkbox" name="{{key}}" value="1">{{key}}<Br>
                    {% endfor %}
                </div>
            </form>
        </div>


    </div>

{% endblock %}
